div.bootbox.modal {
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  .modal-body {
    padding: 0;
    height: 100%;
    max-height: 100%;
  }
  .modal-footer a {
    height: 1.8em;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
  }
}
.tabbed-container {
  * { 
    box-sizing: border-box;
  }
  overflow: hidden;
  background-color: #F2F2F2;
  position:relative;
  font-family: sans-serif;
  height: 100%;
  .ac-header {
    padding-left: 2em;
    background-color: #fff;
    box-shadow: 0px 3px 10px #808080;
    margin: 0;
    background-color: white;
    z-index: 3;
    top: 0;
    width: 100%;
    white-space: nowrap;
    height: 2.5em;
    h1 {
      font-size: 80%;
      line-height: 3.5em;
      color: #000;
      text-align: left;
      margin: 0;
    }
  }
  input[type="radio"] {
    display: none;
  }
  label[for^="tab-"] {
    z-index: 2;
    padding: 0;
    height: 2.5em;
    line-height: 2.5em;
    display: block;
    width: 33%;
    float: left;
    background-color: #4DB4E3;
    font-family: sans-serif;
    text-align: center;
    position: relative;
    color: #808080;
    font-size: 200%;
    font-weight: bold;
    pointer-events: all;
    span{
      display: none;
    }
    span.sub {
      text-align: left;
      padding: 0 0 0 4em;
      line-height: 1em;
      font-weight: normal;
      font-size: 50%;
      right: 0;
      position: absolute;
      bottom: -1em;
      left: 0;
      margin: 0 auto;
      background-color: #F2F2F2;
    }
    span.ac-icon {
      display: inline-block;
      height: 100%;
      width: 100%;
      margin-right: 0.2em;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: #fff;
      &.posts {
        -webkit-mask:  url('/images/ac-bubble.svg') no-repeat center;
        -webkit-mask-size: 1.5em;
        mask: url('/images/ac-bubble.svg') no-repeat center;
        mask-size: 1.5em;
      }
      &.posts.fallback {
        background-image: url('/images/ac-bubble.png');
      }      
      &.peers {
        -webkit-mask:  url('/images/ac-avatar.svg') no-repeat center;
        -webkit-mask-size: 1.5em;
        mask: url('/images/ac-avatar.svg') no-repeat center;
        mask-size: 1.5em;
      }
      &.peers.fallback {
        background-image: url('/images/ac-avatar.png');
      }
      &.partners {
        -webkit-mask:  url('/images/ac-globe.svg') no-repeat  center;
        -webkit-mask-size: 1.5em;
        mask: url('/images/ac-globe.svg') no-repeat center;
        mask-size: 1.5em;
      }
      &.partners.fallback {
        background-image: url('/images/ac-globe.png');
      }
    }
  }
  .results-container {
    height: calc(100% - 3em);
    width: 100%;
    overflow: hidden;
    position: absolute;
    padding: 4em 0 0 0;
    z-index: 1;
    .results {
      position:absolute;
      width: 300%;
      height: calc(100% - 7.5em);
      left: 0;
      transition: all 250ms ease;
      [class^="results-"] {
        display: block;
        width: 33%;
        height: 100%;
        overflow-y: scroll;
        float: left;
        .result {
          display: block;
          padding: 16px;
          background-color: white;
          border-radius: 5px;
          margin: 16px;
          img {
            max-width: 100%;
          }
          a.btn-primary {
            background-color: #4DB4E3;
            margin-bottom: 0.5em;
          }
        }
      }
    }
  }
  input:checked + input + input + label,
  input + input:checked + input + label + label,
  input + input + input:checked + label + label + label {
    background-color: #F2F2F2;
    color: #000;
  }
  input:checked + input + input + label > span.ac-icon.posts,
  input + input:checked + input + label + label > span.ac-icon.peers,
  input + input + input:checked + label + label + label > span.ac-icon.partners {
    background-color: #808080 !important;
  }
  input:checked + input + input + label + label + label + .results-container > .results {
    left: 0;
  }
  input + input:checked + input + label + label + label + .results-container > .results {
    left: -100%;
  }
  input + input + input:checked + label + label + label + .results-container > .results {
    left: -200%;
  }
}
@media screen and (min-width: 800px) {
  div.bootbox.modal {
    width: 80%;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .tabbed-container {
    .ac-header{
        h1 {
          padding-left: 0;
          font-size: 1.6em;
          text-align: center;
          line-height: 1.6em;
        }
      }
    label[for^="tab-"] {
      height: 1.5em;
      line-height: 1.5em;
      text-align: left;
      padding: 0 0 0 1em;
      background-color: #F2F2F2;
      color: #808080;
      font-size: 200%;
      font-weight: bold;
      pointer-events: none;
      span {
        display: inline;
      }
      span.ac-icon {
        height: 50%;
        width: 1em;
        padding-right: 0.25em;
        &.posts {
          background-image: url('/images/ac-bubble.svg');
          -webkit-mask-size: contain;
          mask-size: contain;
        }
        &.posts.fallback {
          background-image: url('/images/ac-bubble.png');
        }      
        &.peers {
          background-image: url('/images/ac-avatar.svg');
          -webkit-mask-size: contain;
          mask-size: contain;
        }
        &.peers.fallback {
          background-image: url('/images/ac-avatar.png');
          
        }
        &.partners {
          background-image: url('/images/ac-globe.svg');
          -webkit-mask-size: contain;
          mask-size: contain;
        }
        &.partners.fallback {
          background-image: url('/images/ac-globe.png');
        }
      }
    }
    input:checked + input + input + label,
    input + input:checked + input + label + label,
    input + input + input:checked + label + label + label {
      border: none;
      background-color: #F2F2F2;
      color: #808080;
    }
    input:checked + input + input + label + label + label + .results-container > .results,
    input + input:checked + input + label + label + label + .results-container > .results,
    input + input + input:checked + label + label + label + .results-container > .results {
      left: 0;
    }
    .results-container {
      overflow-y: scroll;
      .results {
        height: 100%;
        width: 100%;
        [class^="results-"] {
          overflow-y: visible;
        }
      }
    }
  }
}